@model passion_project.Models.Stock
@Styles.Render("~/Content/Stocks/Create.css")

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create", "Stocks", FormMethod.Post))
{
    <h2>Create stock</h2>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.itemId)

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">        
        @Html.LabelFor(model => model.size, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 input-group">
            <span class="input-group-addon">US</span>
            @Html.EditorFor(model => model.size, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.size, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("back to the item", "Details", "Items", new { id = Model.itemId }, null)
</div>
