@model passion_project.Models.Stock
@Styles.Render("~/Content/Stocks/Delete.css")

@{
    ViewBag.Title = "DeleteConfirm";
}
@Html.ActionLink("Back", "Details", new { id = Model.stockId })
<h2>Confirm your action</h2>

<p id="deleteMsg">Are you sure you want to delete the stock with size   @Html.DisplayFor(model => model.size)?</p>
<div>




    @using (Html.BeginForm("Delete", "Stocks", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.stockId, new { Name = "id" })
        @Html.HiddenFor(model => model.itemId)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
</div>
