@model passion_project.Models.Stock
@Styles.Render("~/Content/Stocks/Details.css")


@{
    ViewBag.Title = "Details";
    var itemName = "";
    if (Model.item.name != null)
    {
        itemName = Model.item.name;
    }
}

<h2>Stock of item @itemName</h2>

<div>
    <h3>Details</h3>
    <hr />

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.size) (US)</th>
                <th>@Html.DisplayNameFor(model => model.quantity)</th>
                <th>@Html.DisplayNameFor(model => model.createdDate)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.size)</td>
                <td>@Html.DisplayFor(model => model.quantity)</td>
                <td>@Html.DisplayFor(model => model.createdDate)</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="div-button">
    @Html.ActionLink("Back to The Item", "Details", "Items", new { id = Model.itemId }, new { @class = "btn btn-default" })|
    @Html.ActionLink("Edit", "Edit", new { id = Model.stockId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.stockId }, new { @class = "btn btn-danger" }) 


</div>
