@model passion_project.Models.Item
@Styles.Render("~/Content/Items/Details.css")

@{
    ViewBag.Title = "Details";
}


<h2>Item Details</h2>
<div>

    <hr />
    <div class="div-img">
        <img src="~/Content/Images/@Model.image" alt="item image" class="img-rounded" />
    </div>
    <div class="row">
        <div class="col-sm-8 div-details">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.brand):
                </dt>

                <dd>
                    @Html.ActionLink(Model.brand.name, "Details", "Brands", new { id = Model.brandId }, null)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.name):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.code):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.color):
                </dt>

                <dd>
                    <input type="color" value="@Model.color" readonly />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.gender):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.gender)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.price)@Html.DisplayText("(Cad)"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.composition):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.composition)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.details):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.details)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.createdDate):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdDate)
                </dd>

            </dl>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <section>
                <h3>Available stocks</h3>
                <ul>
                    @foreach (var stock in Model.stocks)
                    {

                        <li>@Html.ActionLink("For size " + @stock.size + " US, " + @stock.quantity + " pairs left.", "Details", "Stocks", new { id = @stock.stockId }, new { @class = "edit-stock" })</li>


                    }
                </ul>
            </section>
        </div>
    </div>
</div>
<div class="div-button">
    @Html.ActionLink("Back to The List of Items", "List", null, new { @class = "btn btn-default" })|
    @Html.ActionLink("Edit", "Edit", new { id = Model.itemId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.itemId }, new { @class = "btn btn-danger" })

</div>
