@model passion_project.Models.Item

@{
    ViewBag.Title = "Details";
}


<h2>Item Details</h2>
<div>
    
    <hr />
    <div>
        <img src="~/Content/Items/@Model.image" alt="item image" width="300" height="300" />
    </div>
   <div class="row">
       <div class="col-sm-7">
           <dl class="dl-horizontal">

               <dt>
                   @Html.DisplayNameFor(model => model.brand)
               </dt>

               <dd>
                   @Html.DisplayFor(model => model.brand.name)
               </dd>

               <dt>
                   @Html.DisplayNameFor(model => model.name)
               </dt>

               <dd>
                   @Html.DisplayFor(model => model.name)
               </dd>

               <dt>
                   @Html.DisplayNameFor(model => model.code)
               </dt>

               <dd>
                   @Html.DisplayFor(model => model.code)
               </dd>

               <dt>
                   @Html.DisplayNameFor(model => model.color)
               </dt>

               <dd>
                   <input type="color" value="@Model.color" readonly />
               </dd>

               <dt>
                   @Html.DisplayNameFor(model => model.gender)
               </dt>

               <dd>
                   @Html.DisplayFor(model => model.gender)
               </dd>

               <dt>
                   @Html.DisplayNameFor(model => model.price)
               </dt>

               <dd>
                   @Html.DisplayFor(model => model.price)
               </dd>

               <dt>
                   @Html.DisplayNameFor(model => model.composition)
               </dt>

               <dd>
                   @Html.DisplayFor(model => model.composition)
               </dd>

               <dt>
                   @Html.DisplayNameFor(model => model.details)
               </dt>

               <dd>
                   @Html.DisplayFor(model => model.details)
               </dd>


               <dt>
                   @Html.DisplayNameFor(model => model.createdDate)
               </dt>

               <dd>
                   @Html.DisplayFor(model => model.createdDate)
               </dd>

           </dl>
       </div>
       <div class="col-sm-5">
       <section>
           <h3>Available stocks</h3>
           <ul>
               @foreach (var stock in Model.stocks)
               {
                   
               <li>@Html.ActionLink("For size "+@stock.size+" US, "+@stock.quantity+" pairs left.", "Details", "Stocks", new { id = @stock.stockId }, new { @class="edit-stock"})</li>
              
                   
               }
           </ul>
       </section>
       </div>
   </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.itemId }) |
    @Html.ActionLink("Back to The List of Items", "List")
</p>
